{#
	Title: Hero
	Description: Hero
	Category: formatting
	Icon: cover-image
	Keywords: hero runner
	Mode: auto
	SupportsAlign: center
	SupportsMode: true
	SupportsMultiple: false
#}
<div class="hero">
	<div class="banner">

		<div class="banner-image">
			{# image #}
			{% include "_components/picture.twig" with {
				source: fields.image.url,
				lazyload: false,
				breakpoints: {
					"1024px" : {
						w: 1280,
						h: 1280,
						crop: 'center'
					},
					"768px" : {
						w: 1024,
						h: 1024,
						crop: 'center'
					},
					"640px" : {
						w: 768,
						h: 768,
						crop: 'center'
					},
					"1px" : {
						w: 640,
						h: 640,
						crop: 'center'
					},
				},
				img: {
					classes: 'w-full h-auto',
					w: 640,
					h: 640,
					crop: 'center',
				}
			}
			%}
		</div>
		<div class="container">
			{% if fields.show_sale_badge %}
				<div class="sale-badge">SALE<em>now on</em></div>
			{% endif %}
			<div class="banner-content">
				<div class="title">
					<h1>{{ fields.title }}</h1>
				</div>
				<div class="body">
					{{ fields.content }}
					<div class="buttons">
						{% for field in fields.buttons %}
							<button class="btn btn--{{field.button_type}}" href="{{field.button.url}}">{{field.button.title}}</button>
						{% endfor %}
					</div>
					
				</div>
			</div>
		</div> <!-- end .container -->
	</div>
</div>