<!DOCTYPE html>
<html {{site.language_attributes}}>

	<head>
		<meta charset="{{ site.charset }}">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta
		name="viewport" content="width=device-width, initial-scale=1">

		{% block htmlheader %}
			<style>
				{{source("/dist/main.min.css")}}</style>
		{% endblock %}

		{{ options.google_analytics ? options.google_analytics }}

		{{ options.schema ? options.schema }}

		{{ function('wp_head') }}
	</head>
	<body>
		<nav class="mob-nav">
			<div class="scroll-container">
				<ul class="primary-nav">
					{% for item in primaryMenu.items %}
						<li class="{{item.class}} {{ item.current ? 'current-menu-item' }}">
							<a href="{{item.link}}">{{item.name}}</a>
						</li>
					{% endfor %}
				</ul>
				<ul class="top-menu-nav">
					{% for item in topBarMenu.items %}
						<li class="{{item.class}} {{ item.current ? 'current-menu-item' }}">
							<a href="{{item.link}}">{{item.name}}</a>
						</li>
					{% endfor %}
				</ul>
			</div>
			<div class="block md:hidden">
				{% include "_components/booking-block-small.twig" %}
			</div>
		</nav>

		<div class="wrapper">

			{# {% include "_layout/mobile-fixed-bar.twig" %} #}

			{% block header %}
				{% include "_layout/header.twig" %}
			{% endblock %}

			{% block content %}{% endblock %}

			{% block footer %}
				{% include "_layout/footer.twig" %}
			{% endblock %}

		</div>

		{{ function('wp_footer') }}
		
		{# Webfont loader #}
		<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
		<script>
		WebFont.load({
			google: {
			families: ['Rubik:300,300i,700,700i','Inter:400,700']
			}
		});
		</script>
	</body>

</html>
