<header class="header">
	{% include "_layout/top-bar.twig" %}

	<div class="header-inner container flex items-center justify-between">
		{# Logo #}
		<a aria-label="Go to homepage" class="block lg:inline-block" href="{{site.site_url}}">
			<img class="mx-auto max-w-40 h-8" src="{{options.site_logo.url}}" alt="{{site.title}} Logo"/>
		</a>
		{# Desktop primary navigation #}
		<nav id="menu-primary" class="desktop-nav container menu hidden nav:block" aria-labelledby="primary-navigation">
			<span class="sr-only" id="primary-navigation">Primary Navigation</span>
			<ul class="flex flex-wrap justify-center w-full menu-primary">
				{% for item in primaryMenu.items %}
					<li class="{{item.class}}">
						<a href="{{item.link}}" class="relative block p-4 hover:text-black focus:text-black {{ item.current ? 'text-red-500' }}">{{item.name}}</a>
					</li>
				{% endfor %}
			</ul>
		</nav>
		<div class="header-cta flex items-center flex-shrink-0">
			<div class="hidden md:flex flex-shrink-0 mr-8">
				{% include "_components/booking-block-small.twig" %}
			</div>

			<button title="Toggle Mobile Menu" class="w-auto inline-block nav:hidden bg-transparent flex items-center justify-center w-1/2 p-2 text-center bg-primary" data-mobile-menu-toggle>
				{# {{ function('icon', 'bars') }} #}
            	<i class="icon fas fa-bars"></i>
				<span class="ml-2">Menu</span>
			</button>
		</div>
		
	</div>

	
</header>
